/***** Nathan Bonin, tous droits réservés *****/
* {
    box-sizing: border-box;
}
/*** Cacher les éléments ***/

.app__hidden {
    display: none;
}

/* Erreurs */

.app__error {
    color: var(--contrast1);
}
/*** Header & Footer ***/

header, footer {
    background-color: var(--bright);
    padding: var(--medium);
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: var(--medium);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: var(--small);
    color: var(--contrast5);
}

footer p {
    font-size: var(--smaller);
}

/*** Main ***/

main {
    min-height: calc(100svh - 6 * var(--medium));
    display: flex;
    flex-direction: column;
    margin: var(--large);
}

/*** Sections ***/

/** Titre **/

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--medium);
}

.title h2 {
    font-size: var(--large);
    margin-bottom: var(--medium);
    color: var(--contrast5);
}

.title p {
    text-align: center;
    font-style: italic;
}

/** Application **/

/*Input*/
.app {
    background-color: var(--bright);
    padding: var(--regular);
    border-radius: var(--regular);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.app form {
    font-size: var(--regular);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--small);
}

.app input {
    font-size: var(--regular);
    margin-bottom: var(--small);
    padding: var(--small);
    border: none;
    border-radius: var(--small);
}

.app--submit {
    background-color: var(--contrast4);
}

.app--submit:hover {
    background-color: var(--contrast3);
}

/* Output */